<ion-header>
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h3 class="no-item" text-center *ngIf = "items.length === 0">
  No Items available on the list!
</h3>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items; let i = index">
      <ion-item>
        <ion-label>
          <h2>{{item.name}}</h2>
          <p>{{item.quantity}}</p>
          <!--<p>{{item._id}}</p>-->
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-button (click)="editItem(item, i)" color="primary" icon-start>
          <ion-icon name="create"></ion-icon>
          Edit
        </ion-button> 
        <ion-button (click)="shareItem(item, i)" color="light" icon-start>
          <ion-icon name="share"></ion-icon>
          Share
        </ion-button>             
        <ion-button (click)="removeItem(item, i)" color="danger" icon-start>
        <!--<ion-button (click)="removeItem(item._id)" color="danger" icon-start>-->
          <ion-icon name="trash"></ion-icon>
          Remove
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical = "bottom" horizontal="end" slot="fixed">
    <ion-fab-button mini (click)="addItem()"><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
